*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#main {
  border: 1px solid;
  height:100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
#inner{
  height: 400px;
  width: 300px;
  border: 1px solid;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  color: white;
  box-shadow: 2px 2px 8px black;
}

#main b{
  cursor: pointer;
  color: blue;
}
#inner input{
  width: 270px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 5px 0;
}
#inner button{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
}
.p{
  color: blue;
  cursor: pointer;
  margin-top: 20px;
}